footer{
  background-color: rgba(0, 0, 0, 0.444);
  box-shadow: 0px 0px 8px 0.1px $fontPrimary;
  font-size: 20px;

  svg{
    margin-top: 4px;
    margin-right: 2px;
  }

  .creditsFootSec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

  .roundedEl{
    height: 40px;
    width: 40px;
  
    svg{
      margin: 0;
      width: 25px;
      height: 25px;
    }
  
    img{
      width: 25px !important;
      height: 30px !important;
    }
  }
}

@media screen and (max-width: 510px){
  footer{
    .wrapIconH1Foot{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .wrapCredtsSocialFoot{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  
      .creditsFootSec{
        width: 100%;
      }
  
      .wrapSocialFootSec{
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center
      }
    }
  }
};

@media screen and (max-width: 300px){
  footer{
    padding: 5% !important;

    .wrapSocialFootSec{
      flex-wrap: wrap;
      justify-content: space-around !important;
      align-items: center;
      width: 100px !important;
  
      span{
        margin-left: 0;
      }
    }
  }
};

@media screen and (max-width: 240px){
  footer{
    font-size: 17px;

    h2{
      margin: 2%;
      margin-top: 15%;
    }
  }
};