$backgroundColor: #1f1f20;

//Paleta
$color1: #162906;
$color2: #0c472b;
$color3: #126855;
$color4: #41d0e9;

//fonts
$fontTitle: 'Oswald', sans-serif;
$fontParagraph: 'Ubuntu', sans-serif;
$fontPrimary: #74e4b5d8;
$fontSecondary: #c8eccf9c;